<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragment/head :: head"></head>
<body th:inline="text">
<div class="my-wrapper-body bghome panel-container">
    <p th:replace="fragment/header :: navbar"/>
    <div id="mySideBar" class="panel-left">
		<span id="position"></span>
		<p th:replace="fragment/sidebar :: left"/>
	</div>
	<div id="myDragBar" class="splitter"></div>
	<div id="myMain" class="panel-right">

    <div class="my-wrapper" id="my-wrapper">
        <div class="my-wrapper--inner">

            <div class="wrapper-content">
                <div class="content--top border--bottom padding-content--left-right">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="content--title text--bold">
                                <i class="fas fa-recycle"></i> Aksi Workflow - Tambah
                            </h3>
                            <small class="sub-header">Aksi / Tambah</small>
                        </div>
                    </div>
                </div>
                <div class="content--center padding-content--left-right">
                    <div class="wrapper--bg">
                        <div th:if="${errorMessage}" class="alert alert-danger alert-block fade in">
                            <button data-dismiss="alert" class="close close-sm" type="button">
                                <i class="icon-remove"></i>
                            </button>
                            <p>[[${errorMessage}]]</p>
                        </div>
                        <form class="form-horizontal" th:object="${form}" th:action="@{/layanan/tambah-aksi}"
                              method="post">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-sm-3 col-form-label required-label">Kode Aksi</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" placeholder="Kode Aksi" th:field="*{code}" th:required="true" maxlength="10"/>
                                            <span style="color:#dd4b39;" class="help-block" th:if="${#fields.hasErrors('code')}" th:errors="*{code}"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 col-form-label required-label">Nama Aksi</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" placeholder="Nama Aksi" th:field="*{name}"
                                                   th:required="true" maxlength="100"/>
                                            <span style="color:#dd4b39;" class="help-block" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 col-form-label required-label">Tipe Aksi</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" th:field="*{type}" id="cmbType">
                                                <option value="Default">Default</option>
                                                <option value="Download">Download</option>
                                                <option value="Upload">Upload</option>
                                                <option value="Otomatis">Otomatis</option>
                                            </select>
                                            <span style="color:#dd4b39;" class="help-block" th:if="${#fields.hasErrors('type')}"
                                                  th:errors="*{type}"></span>
                                        </div>
                                    </div>
                                    <div class="form-group" id="fDocument">
                                        <label class="col-sm-3 col-form-label required-label">Pilih File Dokumen</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" th:field="*{document.id}" id="cDocument">
                                                <option value="">-- Pilih File Dokumen --</option>
                                                <option th:each="doc : ${documents}"
                                                        th:value="${doc.id}" th:text="${doc.name}"></option>
                                            </select>
                                        </div>
                                        <div class="col-md-9 col-md-offset-3">
                                            <span id="hb-document" style="color:#dd4b39;" class="help-block" th:if="${#fields.hasErrors('document.id')}"
                                                                                    th:errors="*{document.id}"></span>
                                        </div>
                                    </div>
                                    <div class="form-group" id="fDurasi">
                                        <label class="col-sm-3 col-form-label required-label">Durasi Tunggu</label>
                                        <div class="col-sm-9">
                                            <input class="form-control" placeholder="Durasi Tunggu (dalam jumlah hari)" th:field="*{duration}"
                                                   maxlength="100"/>
                                            <span style="color:#dd4b39;" class="help-block" th:if="${#fields.hasErrors('duration')}"
                                                  th:errors="*{duration}"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <label class="col-form-label  notice">*) Wajib Diisi</label>
                            <hr/>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-sm-3"></div>
                                        <div class="col-sm-9">
                                            <a th:href="@{/layanan/list-aksi}" class="btn btn-danger"><i class="fas fa-times"></i> Batal</a>
                                            <button type="submit" class="btn btn-primary"><i
                                                    class="fas fa-paper-plane"></i> Proses </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div></div>
        <div></div>
    </div>
</div>
</div><div th:replace="fragment/js :: default"></div>
<div th:replace="fragment/js :: main"></div>
<div th:replace="fragment/js :: datepicker"></div>
<script type="text/javascript" language="javascript" th:inline="javascript">
/*<![CDATA[*/
    function showHideDocument(val){

        var x = document.getElementById('fDocument');
        if(val==="Download"){
            x.style.visibility = "visible";
        }else{
            x.style.visibility = "hidden";
        }
    }

    $(document).ready(function(){
        if($('#cmbType').val() == 'Download')
        { $('#fDocument').show(); $('#fDurasi').hide(); }
        else if($('#cmbType').val() == 'Otomatis')
        { $('#fDocument').hide(); $('#fDurasi').show(); }
        else
        { $('#fDocument').hide(); $('#fDurasi').hide(); }

        $("#cDocument").combobox();
        $('form').find(".custom-combobox-input").each(function(ev)
        {
            if(!$(this).val()) {
                $(this).attr("placeholder", "-- Pilih File Dokumen --");
            }
        });

        var labelMaxLengthName=/*[[#{field.error.maxlength('nama aksi',100)}]]*/'';
        var labelMaxLengthCode=/*[[#{field.error.maxlength('kode aksi',10)}]]*/'';
        $('form').validate({
            messages:{
                'name':{
                    maxlength: labelMaxLengthName,
                    required:/*[[#{field.error.required('name aksi')}]]*/''
                },
                'code':{
                    maxlength: labelMaxLengthCode,
                    required:/*[[#{field.error.required('kode aksi')}]]*/''
                }
            },
            rules: {
                'name':{
                    maxlength:100,
                    required:true
                },
                'code':{
                    maxlength:10,
                    required:true
                }
            },
            highlight: function(element) {
                $(element).closest('.form-group').addClass('has-error');
            },
            unhighlight: function(element) {
                $(element).closest('.form-group').removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'help-block',
            errorPlacement: function(error, element) {
                if(element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            },
            submitHandler: function(form) {
		        showLoading();
		        $('form')[0].submit();
	        }
        });

    });

    $('#cmbType').change(function(){
        var aksi = $('#cmbType').val();
        if(aksi=='Download'){
            $('#fDocument').show();
            $('form').find(".custom-combobox-input").each(function(ev)
            {
                if(!$(this).val()) {
                    $(this).attr("value", "");
                }
            });
            $('#fDurasi').hide();
        }else if(aksi=='Otomatis'){
            $('#fDocument').hide();
            $('#fDurasi').show();
        }else{
            $('#fDocument').hide();
            $('#fDurasi').hide();
        }
    });

    $('#fDocument').click(function(){
        $('#hb-document').hide()
    });

    $('#fDurasi').click(function(){
        $('#hb-duration').hide()
    });

  /*]]>*/
</script>
</body>
</html>