<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragment/head :: head"></head>
<body th:inline="text">
<div class="my-wrapper-body bghome panel-container"> 	<p th:replace="fragment/header :: navbar"/> 	<div id="mySideBar" class="panel-left"> 		<span id="position"></span> 		<p th:replace="fragment/sidebar :: left"/> 	</div> 	<div id="myDragBar" class="splitter"></div> 	<div id="myMain" class="panel-right">
    <form class="form-horizontal" th:object="${form}" th:action="@{/layanan/delete-kelas-detail}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <div class="my-wrapper" id="my-wrapper">
            <div class="my-wrapper--inner">

                <div class="wrapper-content" id="permohonan-baru">
                    <div class="content--top border--bottom padding-content--left-right">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="content--title text--bold">
                                    <i class="far fa-clone"></i> Data Kelas Detail - Hapus
                                </h3>
                                <small class="sub-header">Kelas Detail / Hapus</small>
                            </div>
                        </div>
                    </div>
                    <div class="content--center padding-content--left-right">
                        <div class="wrapper--bg">
                            <div th:if="${errorMessage}" class="alert alert-danger alert-block fade in">
                                <button data-dismiss="alert" class="close close-sm" type="button">
                                    <i class="icon-remove"></i>
                                </button>
                                <p>[[${errorMessage}]]</p>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-sm-3 col-form-label">Nomor Kelas</label>
                                        <div class="col-sm-9">
                                            <span class="form-control col-md-1" th:text="*{parentClass.no}" disabled="disabled" ></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 col-form-label">Uraian Barang/Jasa</label>
                                        <div class="col-sm-9">
                                            <textarea class="form-control" th:text="*{desc}" disabled="disabled"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 col-form-label">Uraian Barang/Jasa (E)</label>
                                        <div class="col-sm-9">
                                            <textarea class="form-control" th:text="*{descEn}" disabled="disabled"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-sm-3 col-form-label required-label">Sedang digunakan? </label>
                                        <div class="col-sm-9">
                                            <span class="form-control col-md-1" th:text="${inUse}" disabled="disabled"></span>
                                        </div>
                                    </div>
<!--                                    <div class="form-group">-->
<!--                                        <label class="col-sm-3 col-form-label">Status</label>-->
<!--                                        <div class="col-sm-9">-->
<!--                                            <textarea class="form-control" th:field="*{statusFlag}" disabled="disabled"></textarea>-->
<!--                                        </div>-->
<!--                                    </div>-->
                                </div>
                            </div>
                            <label class="col-form-label notice">*) Kelas Detail yang sedang digunakan tidak dapat dihapus</label>
                            <hr/>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                    <div class="col-sm-3"></div>
                                        <div class="col-sm-9">
                                            <button type="button" class="btn btn-primary" onclick="window.history.go(-1); return false;">
                                                <i class="fas fa-times"></i> Batal
                                            </button>
                                            <button type="submit" class="btn btn-danger">
                                                <i class="fas fa-trash"></i> Hapus
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</div><div th:replace="fragment/js :: default"></div> <div th:replace="fragment/js :: main"></div>
<script type="text/javascript" language="javascript" th:inline="javascript">
    $(document).ready(function () {
        $('form').validate({
            messages: {},
            errorElement: 'span',
            errorClass: 'help-block',
            submitHandler: function(form) {
                swal({
                    title: "Hapus Kelas Detail?",
                    text: "Anda tidak dapat menghapus Kelas Detail yang sedang digunakan",
                    icon: "warning",
                    buttons: [
                        'Batal',
                        'Lanjutkan'
                    ],
                    dangerMode: true,
                }).then(function (isConfirm) {
                    if (isConfirm) {
                        $('form')[0].submit();
                        showLoading();
                    }
                })
            }
        });
    });
</script>
</body>
</html>