<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragment/head :: head"></head>
<body th:inline="text">
<div class="my-wrapper-body bghome panel-container">
    <p th:replace="fragment/header :: navbar"/>
    <div id="mySideBar" class="panel-left">
		<span id="position"></span>
		<p th:replace="fragment/sidebar :: left"/>
	</div>
	<div id="myDragBar" class="splitter"></div>
	<div id="myMain" class="panel-right">
    <form class="form-horizontal" th:object="${form}" th:action="@{/layanan/edit-kelas}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <div class="my-wrapper" id="my-wrapper">
            <div class="my-wrapper--inner">
                <div class="wrapper-content">
                    <div class="content--top border--bottom padding-content--left-right">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="content--title text--bold">
                                    <i class="fas fa-copy"></i> Data Kelas - Ubah
                                </h3>
                                <small class="sub-header">Kelas / Ubah</small>
                            </div>
                        </div>
                    </div>
                    <div class="content--center padding-content--left-right">
                        <div class="wrapper--bg">
                            <div th:if="${errorMessage}" class="alert alert-danger alert-block fade in">
                                <button data-dismiss="alert" class="close close-sm" type="button">
                                    <i class="icon-remove"></i>
                                </button>
                                <p>[[${errorMessage}]]</p>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-sm-3 col-form-label required-label">Nomor Kelas</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control col-md-1" placeholder="Nomor Kelas"
                                                   th:field="*{no}" th:required="true" th:autofocus="true"
                                                   disabled="disabled"/>
                                            <span class="help-block" th:if="${#fields.hasErrors('no')}"
                                                  th:errors="*{no}"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 col-form-label required-label">Uraian Barang/Jasa</label>
                                        <div class="col-sm-9">
                                            <textarea class="form-control" placeholder="Uraian Barang/Jasa"
                                                      th:field="*{desc}" th:required="true" maxlength="4000"></textarea>
                                            <span class="help-block" th:if="${#fields.hasErrors('desc')}"
                                                  th:errors="*{desc}"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 col-form-label">Uraian Barang/Jasa
                                            (E)</label>
                                        <div class="col-sm-9">
                                            <textarea class="form-control" placeholder="Uraian Barang/Jasa (E)"
                                                      th:field="*{descEn}" maxlength="4000"></textarea>
                                            <!--<span class="help-block" th:if="${#fields.hasErrors('descEn')}"-->
                                                  <!--th:errors="*{descEn}"></span>-->
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 col-form-label required-label">Edisi</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control col-md-1" placeholder="Edisi"
                                                   th:field="*{edition}" th:required="true" th:autofocus="true"/>
                                            <span class="help-block" th:if="${#fields.hasErrors('edition')}"
                                                  th:errors="*{edition}"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 col-form-label required-label">Versi</label>
                                        <div class="col-sm-9">
                                            <input type="number" class="form-control col-md-1" placeholder="Versi"
                                                   th:field="*{version}" th:required="true" th:autofocus="true"/>
                                            <span class="help-block" th:if="${#fields.hasErrors('version')}"
                                                  th:errors="*{version}"></span>
                                        </div>
                                    </div>
                                     <div class="form-group required">
                                        <label class="col-sm-3 col-form-label required-label">Tipe Kelas</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" th:field="*{type}" th:required="true">
                                            	<option style="display: none" value="">-Pilih Tipe Kelas-</option>
                                                <option th:value="Dagang">Dagang</option>
                                                <option th:value="Jasa">Jasa</option>
                                            </select>
                                            <span class="help-block" th:if="${#fields.hasErrors('type')}"
                                                  th:errors="*{type}"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 col-form-label ">Status</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" th:field="*{statusFlag}">
                                                <option th:value="true">Aktif</option>
                                                <option th:value="false">Tidak Aktif</option>
                                            </select>
                                            <span class="help-block" th:if="${#fields.hasErrors('statusFlag')}"
                                                  th:errors="*{statusFlag}"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <label class="col-form-label notice">*) Wajib Diisi</label>
                        <hr/>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                <div class="col-sm-3"></div>
                                    <div class="col-sm-9">
                                        <a th:href="@{/layanan/list-master-kelas}" class="btn btn-danger"><i class="fas fa-times"></i> Batal</a>
                                        <button type="submit" class="btn btn-primary"><i class="fas fa-paper-plane"></i>
                                            Proses
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <br/>
                <br/>
            </div>
        </div>
    </form>
</div>
</div><div th:replace="fragment/js :: default"></div>
<div th:replace="fragment/js :: main"></div>
<script type="text/javascript" language="javascript" th:inline="javascript">
    $(document).ready(function () {
        $.validator.addMethod("oneto100", function (value, element) {
            return this.optional(element) || /^[1-9][0-9]?$|^100$/i.test(value);
        }, "Masukan Angka 1 Sampai 100.");

        $('form').validate({
            rules: {
                'no': {
                    oneto100: true
                }
            },
            messages: {
                'no': {
                    required: /*[[#{field.error.required('Nomor Kelas')}]]*/''
                },
                'desc': {
                    required: /*[[#{field.error.required('Uraian Barang/Jasa')}]]*/''
                },
                'descEn': {
                    required: /*[[#{field.error.required('Uraian Barang/Jasa (E)')}]]*/''
                },
                'edition': {
                    required: /*[[#{field.error.required('Edisi')}]]*/''
                },
                'version': {
                    required: /*[[#{field.error.required('Versi')}]]*/''
                },
                'type': {
                    required: /*[[#{field.error.required('Type')}]]*/''
                }
            },
            highlight: function (element) {
                $(element).closest('.form-group').addClass('has-error');
            },
            unhighlight: function (element) {
                $(element).closest('.form-group').removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'help-block',
            errorPlacement: function (error, element) {
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            },
	        submitHandler: function(form) {
		        showLoading();
		        $('form')[0].submit();
	        }
        });
    });
</script>
</body>
</html>