<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" 
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragment/head :: head"></head>
<body th:inline="text">
<div class="my-wrapper-body bghome panel-container">
	<p th:replace="fragment/header :: navbar"/>
	<div id="mySideBar" class="panel-left">
		<span id="position"></span>
		<p th:replace="fragment/sidebar :: left"/>
	</div>
	<div id="myDragBar" class="splitter"></div>
	<div id="myMain" class="panel-right">
	<div class="my-wrapper" id="my-wrapper">
		<div class="my-wrapper--inner">
			<div class="wrapper-content" id="dokumen-baru">
				<div class="content--top border--bottom padding-content--left-right">
					<div class="row">
						<div class="col-md-12">
							<h3 class="content--title text--bold">
								<i class="fas fa-file-alt"></i> Pasca Permohonan
							</h3>
							<small class="sub-header">Permohonan Merek / Pasca Permohonan</small>
						</div>
					</div>
				</div>
				<div class="content--center padding-content--left-right">
					<div class="wrapper--bg">
						<div th:if="${errorMessage}" class="alert alert-danger alert-block fade in">
							<button data-dismiss="alert" class="close close-sm" type="button">
								<i class="icon-remove"></i>
							</button>
							<p>[[${errorMessage}]]</p>
						</div>
						<div class="jumbotron filterSearch">
							<form>
								<div class="row">
									<div class="col-md-4">
										<div class="form-group">
											<label>Tanggal Pengajuan</label>
											<div class="row">
												<div class="col-md-6">
													<input type="text" id="postDate" class="form-control datepicker" placeholder="Dari"/>
												</div>
												<div class="col-md-6 no-left-padding">
													<input type="text" id="postEndDate" class="form-control datepicker" placeholder="Sampai"/>
												</div>
											</div>

										</div>
										<!--<div class="form-group">-->
											<!--<label>Asal Permohonan</label>-->
											<!--<select id="fileSequence" class="form-control">-->
												<!--<option value="">Semua</option>-->
												<!--<option th:each="mFileSequence :${fileSequenceList}" -->
														<!--th:value="${mFileSequence.id}" -->
														<!--th:text="${mFileSequence.desc} "/>-->
											<!--</select>-->
										<!--</div>-->
										<div class="form-group">
											<label>Nomor Dokumen</label>
											<input type="text" id="postNo" class="form-control" placeholder="Nomor Dokumen"/>
										</div>
										<div class="form-group">
											<label>Nomor Transaksi</label>
											<input type="text" id="eFilingNo" class="form-control" placeholder="Nomor Transaksi"/>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label>Tipe Permohonan</label>
											<select id="mfileType" class="form-control">
												<option value="">Semua</option>
												<option th:each="mFileType :${fileTypeList}"
														th:value="${mFileType.id}"
														th:text="${mFileType.desc}"/>
											</select>
										</div>
										<div class="form-group">
											<label>Kode Billing</label>
											<input type="text" id="billingCode" class="form-control" placeholder="Kode Billing"/>
										</div>
										<div class="form-group">
											<label>Nomor Permohonan</label>
											<input type="text" id="refPermohonan" class="form-control" placeholder="Nomor Permohonan"/>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label>Nomor Registrasi</label>
											<input type="text" id="regNo" class="form-control" placeholder="Nomor Registrasi"/>
										</div>
										<div class="form-group">
											<label>Merek</label>
											<input type="text" id="merek" class="form-control" placeholder="Nama Merek"/>
										</div>
										<div class="form-group">
											<label>Status Pasca</label>
											<select id="mStatus" class="form-control">
												<option value="">Semua</option>
												<option	th:value="DONE">Sudah Dikerjakan</option>
												<option	th:value="NOTYET">Belum Dikerjakan</option>
											</select>
										</div>
										<!--<div class="form-group">-->
											<!--<label>Status Dikirim</label>-->
											<!--<select id="txMonitor" class="form-control">-->
												<!--<option value="">Semua</option>-->
												<!--<option	th:value="1">Sudah Dikirim ke Inbox</option>-->
												<!--<option	th:value="0">Belum Dikirim ke Inbox</option>-->
											<!--</select>-->
										<!--</div>-->
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<button type="button" id="search" class="btn btn-primary"><i class="fas fa-search"></i>
											Filter
										</button>
										<button type="button" class="btn btn-info"
												onClick="window.location.reload()"
												style="margin-left:15px;">
											<i class="fas fa-sync-alt"></i>
											Refresh
										</button>
									</div>
								</div>
							</form>
						</div>
						<div class="table-container">
					        <table id="table" class="table table-striped table-bordered table-responsive">
						        <thead>
							        <tr>
								      <th>No.</th>
								        <th>Nomor Transaksi</th>
										<th>Tanggal Pengajuan</th>
								        <th>Nomor Dokumen</th>
								        <!--<th>Asal Permohonan</th>-->
								        <th style="width: 150px;">Tipe Permohonan</th>
										<th>Nomor Permohonan</th>
										<th>Nomor Registrasi</th>
								        <th>Kode Billing</th>										
								        <!--<th>Tanggal Pembayaran</th>-->
								        <th>Jumlah Pembayaran</th>
								        <th>Status Pasca</th>
										<th style="width: 150px;">Aksi Saat Ini</th>
								        <th class="not-export-col"></th>
							        </tr>
						        </thead>
                               
					        </table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div><div th:replace="fragment/js :: default"></div>
<div th:replace="fragment/js :: main"></div>
<div th:replace="fragment/js :: datatables"></div>
<div th:replace="fragment/js :: datepicker"></div>
<script type="text/javascript" language="javascript" th:inline="javascript">
	/*<![CDATA[*/
	$(document).ready(function(){
		var csrf=/*[[${_csrf.token}]]*/'';


		$('#postDate').datepicker({
			format: 'dd/mm/yyyy',
			autoclose: true,
			todayBtn: 'linked',
			endDate: 'today',
			todayHighlight: true,
			orientation: "bottom",
			onClose: function( selectedDate ) {
				$( "#postEndDate" ).datepicker( "option", "startDate", selectedDate );
			}

		});


		$('#postEndDate').datepicker({
			format: 'dd/mm/yyyy',
			autoclose: true,
			todayBtn: 'linked',
			todayHighlight: true,
			endDate: 'today',
			orientation: "bottom",
		});

		var table=$('#table');
		var searchByArr=[];
		var keywordArr=[];

		searchByArr.push('postDate');
		keywordArr.push($('#postDate').val());
		searchByArr.push('postEndDate');
		keywordArr.push($('#postEndDate').val());
		searchByArr.push('mFileSequence.id');
		keywordArr.push($('#fileSequence').val());
		searchByArr.push('mFileType.id');
		keywordArr.push($('#mfileType').val());
		searchByArr.push('billingCode');
		keywordArr.push($('#billingCode').val());
		searchByArr.push('postNo');
        keywordArr.push($('#postNo').val());
        searchByArr.push('eFilingNo');
        keywordArr.push($('#eFilingNo').val());
		searchByArr.push('txPostReceptionDetail.txTmGeneral.applicationNo');
		keywordArr.push($('#refPermohonan').val());
		searchByArr.push('txPostReceptionDetail.txTmGeneral.txRegistration.no');
		keywordArr.push($('#regNo').val());
		searchByArr.push('txPostReceptionDetail.mStatus.id');
		keywordArr.push($('#mStatus').val());
		searchByArr.push('txPostReceptionDetail.txTmGeneral.txMonitor.approved');
		keywordArr.push($('#txMonitor').val());
		searchByArr.push('txPostReceptionDetail.txTmGeneral.txTmBrand.name');
		keywordArr.push($('#merek').val());
        
		table.data('searchByArr', searchByArr);
		table.data('keywordArr', keywordArr);
		//table.data('orderBy', 'postDate');
		//table.data('orderType', 'DESC');
		
		/* Load DataTable */
		var dataTable=table.DataTable({
			dom: 'lBfrtip',
			buttons: [
		        {
		            extend: 'excel',
		            title:'Pasca Permohonan',
		            exportOptions: {
		            	columns: ':visible:not(.not-export-col)'
		            },
		            action: function ( e, dt, node, config ) {
						if(alreadySearch == false) {
							swal("Error", "Tidak dapat melakukan export. Harap pilih filter terlebih dahulu.", "warning");
							e.preventDefault();
							return false;
						}
						$.fn.dataTable.ext.buttons.excelHtml5.action.call(this, e, dt, node, config);
					}
		        }
		    ],
			ajax:{
				data:function(d){
					d.searchByArr=table.data('searchByArr');
					d.keywordArr=table.data('keywordArr');
					d.orderBy=table.data('orderBy');
					d.orderType=table.data('orderType');
					d._csrf=csrf;
				},
				type:'POST',
				url:/*[[@{/layanan/cari-pasca-permohonan}]]*/''
			},
			columnDefs: [
				{ targets: [0, -1], orderable: false}
			],
			ordering: true,
			order:[[2,'desc']],

			initComplete:function(settings,json){
				//var url=/*[[@{/layanan/tambah-pasca-permohonan}]]*/'';
				//$('.dt-buttons').prepend('<a class="btn btn-info" href="' + url + '"><i class="fas fa-plus"></i> Tambah</a> ');
				$('.dt-buttons').addClass("dataTables_filter margin-bottom-8px").removeClass("dt-buttons");
				$('.buttons-excel').empty();
				$('.buttons-excel').append('<i class="fas fa-file-excel"></i> Export to Excel');
				$('.buttons-excel').addClass('btn btn-success').removeClass('dt-button buttons-excel buttons-html5');
			},
			language:{
				url:/*[[@{/js/i18n/datatables.in.json}]]*/''
			},
			lengthMenu:[[10,30,90,100000],[10,30,90,"Semua"]],
			pageLength:10,
			processing:true,
			searching:false,
			serverSide:true
		});
		dataTable.on('error.dt',function(e,settings,techNote,message){
			swal("Error", "Terjadi kesalahan pada aplikasi. Silakan muat ulang halaman ini.", "error");
		});

		var alreadySearch = false;
		/* Search */
		$("#search").click(function(event){
			event.preventDefault();
			var searchByArr=[];
			var keywordArr=[];

			searchByArr.push('postDate');
			keywordArr.push($('#postDate').val());
			searchByArr.push('postEndDate');
			keywordArr.push($('#postEndDate').val());
			searchByArr.push('mFileSequence.id');
			keywordArr.push($('#fileSequence').val());
			searchByArr.push('mFileType.id');
			keywordArr.push($('#mfileType').val());
			searchByArr.push('billingCode');
			keywordArr.push($('#billingCode').val());
		    searchByArr.push('postNo');
			keywordArr.push($('#postNo').val());
			searchByArr.push('eFilingNo');
	        keywordArr.push($('#eFilingNo').val());
			searchByArr.push('txPostReceptionDetail.txTmGeneral.applicationNo');
			keywordArr.push($('#refPermohonan').val());
			searchByArr.push('txPostReceptionDetail.txTmGeneral.txRegistration.no');
			keywordArr.push($('#regNo').val());
			searchByArr.push('txPostReceptionDetail.mStatus.id');
			keywordArr.push($('#mStatus').val());
			searchByArr.push('txPostReceptionDetail.txTmGeneral.txMonitor.approved');
			keywordArr.push($('#txMonitor').val());
			searchByArr.push('txPostReceptionDetail.txTmGeneral.txTmBrand.name');
			keywordArr.push($('#merek').val());

			table.data('searchByArr', searchByArr);
			table.data('keywordArr', keywordArr);
			dataTable.ajax.reload();

			alreadySearch = false;
            keywordArr.forEach(function(item) {
                if(item !== "") {
                    alreadySearch = true;
                }
            })
		});
	});
	/*]]>*/
</script>
</body>
</html>