<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragment/head :: head"></head>
<body th:inline="text">
<div class="my-wrapper-body bghome panel-container">
	<p th:replace="fragment/header :: navbar"/>
	<div id="mySideBar" class="panel-left">
		<span id="position"></span>
		<p th:replace="fragment/sidebar :: left"/>
	</div>
	<div id="myDragBar" class="splitter"></div>
	<div id="myMain" class="panel-right">
	<form class="form-horizontal" th:object="${form}" th:action="@{/layanan/tambah-grup-permohonan}" method="post">
		<div class="my-wrapper" id="my-wrapper">
			<div class="my-wrapper--inner">
				<div class="wrapper-content" id="grup-permohonan-baru">
					<div class="content--top border--bottom padding-content--left-right">
						<div class="row">
							<div class="col-md-12">
								<h3 class="content--title text--bold">
									<i class="fas fa-copy"></i> Grup Permohonan - Tambah
								</h3>
								<small class="sub-header">Grup Permohonan / Tambah</small>
							</div>
						</div>
					</div>
					<div class="content--center padding-content--left-right">
						<div class="wrapper--bg">
							<div th:if="${errorMessage}" class="alert alert-danger alert-block fade in">
								<button data-dismiss="alert" class="close close-sm" type="button">
									<i class="icon-remove"></i>
								</button>
								<p>[[${errorMessage}]]</p>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="form-group required">
                                            <label class="col-form-label required-label col-sm-3">Tipe Grup</label>
                                            <div class="col-sm-9">
                                                <select class="form-control" th:field="*{groupType.id}" id="groupType" th:required="true">
                                                    <option style="display: none" value="">-Pilih Tipe Grup-</option>
                                                    <option th:each="list : ${listTipeGrup}"
                                                            th:value="${list.id}"
                                                            th:text="${list.name}"></option>
                                                </select>
                                                <span class="help-block" th:if="${#fields.hasErrors('groupType')}" th:errors="groupType"></span>
                                            </div>
                                        </div> 
									<div class="form-group required">
										<label class="col-sm-3 col-form-label required-label">Nama Grup</label>
										<div class="col-sm-9">
											<input type="text" class="form-control col-md-1" placeholder="Nama Grup" th:field="*{name}" th:required="true" th:autofocus="true"/>
											<span class="help-block" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 col-form-label">Deskripsi Grup</label>
										<div class="col-sm-9">
											<textarea class="form-control" placeholder="Deskripsi Grup" th:field="*{description}"></textarea>
											<span class="help-block" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
										</div>
									</div>
								</div>
							</div>
							<label class="control-label notice">*) Wajib Diisi</label>
							<hr/>
							<div class="row">
								<div class="col-sm-12">
									<div class="form-group">
                                        <div class="col-sm-3"></div>
										<div class="col-sm-9">
											<a th:href="@{/layanan/grup-permohonan}" class="btn btn-danger"><i class="fas fa-times"></i> Batal</a>
											<button type="submit" class="btn btn-primary"><i class="fas fa-paper-plane"></i> Proses </button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<br/>
					<br/>
					<br/>
				</div>
			</div>
		</div>
	</form>
</div>
</div><div th:replace="fragment/js :: default"></div>
<div th:replace="fragment/js :: main"></div>
<script type="text/javascript" language="javascript" th:inline="javascript">
	$(document).ready(function(){
		$('form').validate({
			rules: {
				name: {
			      maxlength: 36
				},
				description: {
				      maxlength: 1000
				}
			},
			messages:{
				'groupType.id':{
					required:/*[[#{field.error.required('Tipe Grup')}]]*/''
				},
				'name':{
					required:/*[[#{field.error.required('nama grup')}]]*/'',
					maxlength:/*[[#{field.error.maxlength('nama grup',36)}]]*/''
				},
				'description':{
					required:/*[[#{field.error.required('deskripsi grup')}]]*/'',
					maxlength:/*[[#{field.error.maxlength('deskripsi grup',1000)}]]*/''
				}
			},
			highlight: function(element) {
				$(element).closest('.form-group').addClass('has-error');
			},
			unhighlight: function(element) {
				$(element).closest('.form-group').removeClass('has-error');
			},
			errorElement: 'span',
			errorClass: 'help-block',
			errorPlacement: function(error, element) {
				if(element.parent('.input-group').length) {
					error.insertAfter(element.parent());
				} else {
					error.insertAfter(element);
				}
			},
			submitHandler: function(form) {
				showLoading();
				$('form')[0].submit();
	      	}
		});
	});
</script>
</body>
</html>