<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div><img th:src="|cid:${logo}|" style="display: block;"/><br/><br/></div>
<p>Yth. Sdr/i <span th:text="${name}"></span></p>
<p>Selamat datang.<br/>Terima kasih telah mendaftar di Aplikasi Online Direktorat Jenderal Kekayaan Intelektual.</p>
<p>Username Anda adalah : <span th:text="${username}"></span></p>
<p>Saat ini akun Anda sedang dalam proses pengecekan Admin Direktorat Jenderal Kekayaan Intelektual.</p>
<p>Salam,<br/>Administrator Direktorat Jenderal Kekayaan Intelektual</p>
</body>
</html>