<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div align="center"><img src="cid:temankita2.png" style="display: block;"/><br/><br/></div>
<p>Yth. Sdr/i <span th:text="${username}"></span></p>
<p>Klik tombol dibawah ini untuk memasukan Password Baru.</p>
<a th:href="${url}">
    <button style="
            background-color: #008CBA;
            border: none;
            border-radius: 8px;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            cursor: pointer">
        Password Baru
    </button>
</a>
<p>Salam,</p>
<p>Administrator Direktorat Jenderal Kekayaan Intelektual</p>
</body>
</html>