<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div><img th:src="|cid:${logo}|" style="display: block;"/><br/><br/></div>
<p>Yth. Sdr/i <span th:text="${nm}"></span></p>
<p>Terima kasih telah menambah dokumen di Aplikasi Online Direktorat Jenderal Kekayaan Intelektual.</p>
<p>Kelengkapan Formalitas Saudara dengan Jenis Dokumen: <i><span th:text="${doctype}"></span></i>, Nama File: <i><span th:text="${filenm}"></span></i>, Tanggal Upload: <i><span th:text="${tglupload}"></span></i>, untuk Nomor Dokumen Pasca: <i><span th:text="${appId}"></span></i>, telah masuk ke dalam sistem. Selanjutnya akan kami periksa kembali isi Kelengkapan Formalitas Saudara.</p>
<p>Hormat Kami,<br/>Bagian Permohonan Merek</p>
</body>
</html>