<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragment/head :: head"></head>
<body th:inline="text">
<div class="my-wrapper-body bghome panel-container">
	<p th:replace="fragment/header :: navbar"/>
	<div id="mySideBar" class="panel-left">
		<span id="position"></span>
		<p th:replace="fragment/sidebar :: left"/>
	</div>
	<div id="myDragBar" class="splitter"></div>
	<div id="myMain" class="panel-right">
	<div class="my-wrapper" id="my-wrapper">
		<div class="my-wrapper--inner">
			<!-- data pemohon -->
			<div class="wrapper-content" id="permohonan-baru">
				<div class="content--top border--bottom padding-content--left-right">
					<div class="row">
						<div class="col-md-12">
							<h3 class="content--title text--bold">
								<i class="fas fa-copy"></i> Copy Logo IPAS
							</h3>
							<small class="sub-header">Home / Copy Logo IPAS</small>
						</div>
					</div>
				</div>
				<div class="content--center padding-content--left-right">
					<div class="wrapper--bg">
						<div th:if="${errorMessage}" class="alert alert-danger alert-block fade in">
							<button data-dismiss="alert" class="close close-sm" type="button">
								<i class="icon-remove"></i>
							</button>
							<p>[[${errorMessage}]]</p>
						</div>
						<div class="jumbotron filterSearch">
							<form>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label>Capture Date</label>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <input type="text" id="startDate" class="form-control datepicker" placeholder="Start Date"/>
                                                </div>
                                                <div class="col-md-6 no-left-padding">
                                                    <input type="text" id="endDate" class="form-control datepicker" placeholder="End Date"/>
                                                </div>
                                            </div>
										</div>										
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label></label>
											<label></label>
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group">
											<label>Application No</label>
											<textarea class="form-control" placeholder="Application No" id="applicationNo"></textarea>
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group">
											<label> * Pencarian berdasarkan Application No menggunakan pemisah titik koma ( ; )</label>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<button type="button" id="btnProcess" class="btn btn-primary"><i class="fas fa-paper-plane"></i>
											Process
										</button>
									</div>
								</div>
							</form>

						</div>
						<div class="table-container">
							<table id="table" class="table table-striped table-bordered table-responsive">
						        <thead>
									<tr>
										<th width="80px">No.</th>
                                        <th width="150px">Nomor Permohonan</th>
                                        <th>File</th>
                                        <th width="80px">Result</th>
									</tr>
								</thead>	
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div><div th:replace="fragment/js :: default"></div>
<div th:replace="fragment/js :: main"></div>
<div th:replace="fragment/js :: datatables"></div>
<div th:replace="fragment/js :: datepicker"></div>
<script type="text/javascript" language="javascript" th:inline="javascript">
	/*<![CDATA[*/
		var csrf = /*[[${_csrf.token}]]*/'';
		var header = "X-CSRF-TOKEN";
        $(document).ajaxSend(function (e, xhr, options) {
            xhr.setRequestHeader(header, csrf);
        });
        
		$(document).ready(function () {
			$('.datepicker').datepicker({
				format: 'dd/mm/yyyy',
				autoclose: true,
				todayBtn: 'linked',
				todayHighlight: true,
				useCurrent: false
			});
			
			var table=$('#table');
			var dataTable=table.DataTable({
				language:{
					url:/*[[@{/js/i18n/datatables.in.json}]]*/''
				},
				ordering: true,
				order:[[0,'asc']],
				lengthMenu:[[10,30,90],[10,30,90]],
				pageLength:10,
				searching:true,
			});
			
			
			$('#btnProcess').click(function (event) {
				if (!$('#startDate').val() && !$('#endDate').val() && !$('#applicationNo').val()) {
					swal('Error', 'Silahkan isi parameter sebelum melakukan process.', 'error');
				} else {
					$.ajax({
    	                type: 'POST',
    	                url: /*[[@{/layanan/copy-logo-ipas}]]*/'',
    	                datatype: 'jsonp',
    	                data:  {
    	                	startDate: $('#startDate').val(),
    	                	endDate: $('#endDate').val(),
    	                	applicationNo: $('#applicationNo').val()
    	                },
    	                beforeSend: function () {
    	                	showLoading();
    	                },
    	                complete:function(){
    	                	hideLoading();
    	                },
    	                success: function (result) {  
    	                	dataTable.clear();
    	                	dataTable.rows.add(result);
    	                	dataTable.search('');
    	                	dataTable.draw();
    	                },
			            error: function (xhr, status) {
				            swal("Error", "Terjadi kesalahan pada aplikasi. Silakan muat ulang halaman ini.", "error");
			            }
    	            });
				}
			});
		});
	/*]]>*/
</script>
</body>
</html>