<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<div th:fragment="form-1" th:remove="tag">
    <script type="text/javascript" language="javascript" th:inline="javascript">
    /*<![CDATA[*/
        var csrf = /*[[${_csrf.token}]]*/'';
        var redirect = /*[[@{/layanan/pratinjau-permohonan-online(no=${eFilingNo})}]]*/'';
        var isNew = /*[[${isNew}]]*/'';
        var isNewOrEdit = /*[[${isNewOrEdit}]]*/'';
        var isEditPermohonan = /*[[${isEditPermohonan}]]*/'';
        var isEdit = /*[[${isEdit}]]*/'';
        var isReprs = /*[[${isReprs}]]*/'';
        var freebill =   /*[[${freebill}]]*/'';
        var isValidBilling = !isNew;
       	var tableReferensi = $('#tableReferensi');
		var dataTableReferensi = null;
		var tablePostReceptionDetail = $('#tblPostReceptionDetail');
		var appRefNo = ''
		var txTmGeneral = /*[[${txTmGeneral.id}]]*/'';
		
		$(document).ready(function () {

            $("#formGeneral").validate({
        		rules: {
    				'codeBilling' : {
    					digits: '#codeBilling'
    				}
        		},
              	messages: {
            		'codeBilling': {
                    	required: /*[[#{field.error.required('Kode Billing')}]]*/''
                    	,digits: /*[[#{field.error.not.numeric('Kode Billing')}]]*/''
                  	},
                  	"mFileType.id": {
                    	required: /*[[#{field.error.required('Tipe Permohonan')}]]*/''
                  	}
              	},
              	highlight: function (element) {
                 	$(element).closest('.form-group').addClass('has-error');
              	},
              	unhighlight: function (element) {
                  	$(element).closest('.form-group').removeClass('has-error');
              	},
              	errorElement: 'span',
              	errorClass: 'help-block',
              	errorPlacement: function (error, element) {
                  	if (element.parent('.input-group').length) {
                      	error.insertAfter(element.parent());
                  	} else {
                      	error.insertAfter(element);
                  	}
              	}
          	});
  		});        
        
        var header = "X-CSRF-TOKEN";
        $(document).ajaxSend(function (e, xhr, options) {
            xhr.setRequestHeader(header, csrf);
        });

        if(isEditPermohonan) {
        	$('.'+$('#mFileType').val()).attr('hidden',false);
        } 
        $('#mFileType').change(function () {
        	$('.optDocType').attr('hidden',true);
        	$('.'+this.value).attr('hidden',false);
        });
        
        $('#codeBilling').on('change', function (e) {
        	isValidBilling = false;
        });
        
        $('#btnCheckBilling').on('click', function (e) {
        	$('select[name="mFileType.id"]').rules('remove', 'required');
        	$('#mFileType').closest('.form-group').removeClass('has-error');
        	$('#mFileType').next().remove();  
        	
        	if($("#formGeneral").valid()){
        		$.ajax({
	                type: 'POST',
	                url: /*[[@{/layanan/check-code-billing/madrid-oo}]]*/'',
	                datatype: 'jsonp',
	                data:  {
	                	bankCode: $('#codeBilling').val()
	                },
	                beforeSend: function () {
	                	showLoading();
	                },
	                complete:function(){
	                	hideLoading();
	                },
	                success: function (data) {
	                	var result = JSON.parse(data);
	                	console.log(result);
	                	
// 	                	$('#mFileseq').val(result.mFileSequence);
                    	//$('#mFileType').val(result.mFileType);
//                     	$('#mFileTypeDetail').val(result.mFileTypeDetail);
                    	$('#tglPembayaran').val(result.paymentDate);
                    	$('#totalPayment').val(result.totalPayment);
                    	$('#totalPaymentTemp').val(result.totalPaymentTemp);
                    	$('#totalClass').val(result.totalClass==undefined ? '0' : result.totalClass);
                    	$('#mLaw').val(result.mLaw);
                    	
                    	$('#idName').val(result.ownerName);
                    	$('#idPhone').val(result.ownerPhone);
                    	$('#idEmail').val(result.ownerEmail);
                    	$('#nationality').val(result.ownerCountry);
                    	$('#idCountry').val(result.ownerCountry);
                    	$('#idAddress').val(result.ownerAddress);
                    	$('#nomorPermohonan').val(result.noTransaksi);
                    	
                    	
                    	if (result.ownerCountry == 'ID') {
	                    	$('.cDisable').attr("disabled", false);
	                    	$('#idProvinsi').val(result.ownerProvince);
	                    	getCity(result.ownerProvince, result.ownerCity);
	                        <!--getRegion(result.ownerCity, result.ownerRegion);-->
                    	}
                    	
	                	if (result.statusError != null)  {
	                		isValidBilling = false;
	                		swal("Informasi", result.statusError, "info");
	                	}
	                	else if(freebill == 1){
                            isValidBilling = true;
                        }

	                	else {
                            isValidBilling = true;
	                	}
	                },
			        error: function (xhr, status) {
				        swal("Error", "Pengecekan kode billing gagal karena terjadi gangguan koneksi ke Simpaki.", "error");
			        }
	            });
        	}
        });
        
        $('#btnSaveForm1').on('click', function (e) {
        	$('select[name="mFileType.id"]').rules('add', { required: true }); 
        	var isDisabled = $('#codeBilling').prop('disabled');
        	
            var isValidForm = $("#formGeneral").valid();
            if (freebill == 1){
                isValidBilling = true ;
            }
            console.log(isEdit);
            if (isValidForm) {

            	if (isValidBilling) {
            		if($('#mFileType').val() == 'MEREK_DAGANG_JASA' && $('#totalClass').val() <= 1) {
            			swal("Informasi", "Tipe Permohonan: Merek Dagang & Jasa hanya berlaku jika jumlah kelas lebih dari satu. Jumlah kelas yang Anda bayarkan adalah " + $('#totalClass').val() + " kelas.", "info");
            		} else {
            			if(isNew && !isDisabled) {
            				swal("Konfirmasi", "Apakah data yang Anda isi sudah benar?", "warning", {buttons: { cancel:'Tidak', confirm:'Ya'}})
                      		.then((value) => {
                      			if(value) {
                      				e.preventDefault();
                                	doSave1();
                      			}
                      		});
            			} else {
            				e.preventDefault();
                        	doSave1();
            			}
            		}
            	} else {
            		//swal("Informasi", "Kode Billing '" + $('#codeBilling').val() + "' Tidak Ditemukan", "info");
            		swal("Informasi", "Klik tombol 'Check' Kode Billing dan periksa data kode billing", "info");
            	}
            }
        });
        
        var searchByArr = [];
		var keywordArr = [];
		var tableReferensi = $('#tableReferensi');
		
		tableReferensi.data('searchByArr', searchByArr);
		tableReferensi.data('keywordArr', keywordArr);
		tableReferensi.data('orderBy', 'applicationNo');

		dataTableReferensi = $('#tableReferensi').DataTable({
			createdRow: function( row, data, dataIndex ) {
				if ($('#ref-'+data[3]).length) {
					dataTableReferensi.rows($(row)).remove();
				}
			},
			columnDefs: [
				{
					'targets': -1,
					'searchable': false,
					'data': null,
					'className': 'dt-body-center',
					'render': function (data, type, full, meta) {
						return '<button type="button" class="btn-referensi btn-primary" data-dismiss="modal" paramId=' + data[3] + '>Pilih</button>';
					}
				}
			],
			ajax: {
				data: function (d) {
					d.searchByArr = tableReferensi.data('searchByArr');
					d.keywordArr = tableReferensi.data('keywordArr');
					d.orderBy = tableReferensi.data('orderBy');
				},
				dataSrc: function (result) {
					if (!result.data.length && tableReferensi.data('searchByArr').length)
						swal("Informasi", "Data tidak ditemukan.", "info");

					return result.data;
				},
				type: 'GET',
				url: /*[[@{/layanan/cari-referensi-pasca-online}]]*/''
			},
			language: {
				url: /*[[@{/js/i18n/datatables.in.json}]]*/''
			}
		});
		dataTableReferensi.on('error.dt',function(e,settings,techNote,message){
			swal("Error", "Terjadi kesalahan pada aplikasi. Silakan muat ulang halaman ini.", "error");
		});

		$('#btnModalReferensi').click(function () {
			$('#searchAppNo').val(null);
			$('#searchRegNo').val(null);
			dataTableReferensi.clear().draw();
		});

		$('#btnSearchReferensi').click(function () {
			if($('#searchAppNo').val().trim().length == 0 && $('#searchRegNo').val().trim().length == 0){
				dataTableReferensi.clear().draw();
			} else {
				var searchByArr = [];
				var keywordArr = [];

				searchByArr.push('applicationNo');
				searchByArr.push('txRegistration.no');
				keywordArr.push($('#searchAppNo').val());
				keywordArr.push($('#searchRegNo').val());

				tableReferensi.data('searchByArr', searchByArr);
				tableReferensi.data('keywordArr', keywordArr);
				dataTableReferensi.ajax.reload();
			}
		});
		
		$('#btnHapusTxPostReceptionDetail').click(function () {
		    receptionIds = []
			$("#tblPostReceptionDetail tbody").find('input[name="record"]').each(function () {
				if ($(this).is(":checked")) {
				    receptionIds.push($(this).parents("tr").find('td:nth-child(2)').html());
					$(this).parents("tr").remove();
				}
			});
			doDelete1(receptionIds);
		});
		
		$('body').on('click', '.btn-referensi', function() {
			var param=$(this).attr('paramId');
			
			$.ajax({
				url: /*[[@{/layanan/choose-referensi-madrid-oo}]]*/'',
				datatype: 'json',
				data: {
					target: param
				},
				beforeSend: function () {
					showLoading();
				},
				complete:function(){
					hideLoading();
				},
				success: function (result) {
					console.log(result);
					var appId = result.applicationId;
					var checkbox = document.createElement('input');
					checkbox.type = 'checkbox';
					checkbox.name = 'record';
					var rowId = "ref-" + param;
					var markup = "<tr id='" + rowId + "' appId='" + appId + "'><td align='center'><span></span></td> <td>" + result.applicationNo + "</td><td>"
							+ result.brandName + "</td><td>" + result.registrationNo + "</td><td>" + result.penerimaanDate + "</td><td>" +  result.registrationDate + "</td></tr>";
					$("#tblPostReceptionDetail tbody").append(markup);
					$("#tblPostReceptionDetail tbody tr td span").html('');
					$("#tblPostReceptionDetail tbody tr td span").append(checkbox);
					
					var rowCount = $('#tblPostReceptionDetail').children('tbody').children('tr').length;
					console.log(rowCount);
					//if(rowCount == 1) {
						appRefNo = result.applicationNo;
						$('#applicationId').val(result.applicationId);
						$('#applicationNo').val(result.applicationNo);
						$('#registrationNo').val(result.registrationNo);
						$('#registrationDate').val(result.registrationDate);
						$('#penerimaanDate').val(result.penerimaanDate);
						$('#applicationNo').closest('.form-group').removeClass('has-error');
						$('#applicationNo').next().remove();
						$('#nama').val(result.brandName);
						$('#mBrandType').val(result.mBrandType);
						$('#deskripsi').val(result.description);
						$('#warna').val(result.color);
						$('#fileName').val(result.fileName);
						
// 						var row = [["000000001", "1", "A 0011", "Acesulfame kalium", "acesulfame potassium", "(NCL 11)", "0", "show", "Dagang"],
// 									["000000002", "1", "A 0017", "Asetal", "acetal", "(NCL 11)", "0", "show", "Dagang"]]
						
				        var jumlahKelas = $('#totalClass').val() == undefined ? totalClass : $('#totalClass').val();
		                var classValidate = [];
		                var listId = [];
		                var row = result.classList;
		
		                tableClass.rows().eq(0).each( function ( index ) {
		                    var data = tableClass.row(index).data();
		                    if (classValidate.indexOf(data[2]) == -1) {
		                        classValidate.push(data[2]);
		                    }
		                    listId.push(data[0]);
		                });
		
		                for (var i = 0; i < selectedClass.length; i++) {
		                    if (classValidate.indexOf(selectedClass[i][1]) == -1) {
		                        classValidate.push(selectedClass[i][1]);
		                    }
		                    if (jQuery.inArray( selectedClass[i][0], listId ) == -1){
		                        row.push(selectedClass[i]);
		                    }
		                }
		
		                if (row.length > 0) {
		                        $.each(row, function (index, value) {
		                            var data = value;
		
		                            tableClass
		                                .row.add([data[0], 0, data[1], data[2], data[3], data[4], data[5], data[6], classStatusEnum.acceptLabel, isEdit ? 'TRUE' : 'FALSE', ''])
		                                .draw()
		                                .node().id = data[0];
		                        });
		
		                        tableClass.column(1).nodes().each(function (cell, i) {
		                            cell.innerHTML = i + 1;
		                        });
		
		                }						
					//}
				},
				error: function (xhr, status) {
					swal("Error", "Terjadi kesalahan pada aplikasi. Silakan muat ulang halaman ini.", "error");
				}
			});
		});

        function doSave1() {
        	var appid = $("#form8NoPermohonan").text();         
            var law =  $('#mLaw').val();
            var bankCode = $('#codeBilling').val();
            var applicationDate = $('#tglPengajuan').val(); 
            var paymentDate = $('#tglPembayaran').val(); 
			var mFileSequence = { id: $('#mFileseq').val() };
			var mFileType = { id: $('#mFileType').val() };
			var mFileTypeDetail = { id: $('#mFileTypeDetail').val() };
			var totalClass = $ ('#totalClass').val() 
			var totalPayment = $ ('#totalPayment').val() 
			var mLanguage = $('#mLanguage').val() ;
			var nomorReferensi = $('#nomorReferensi').val() ;
			
			var receptionIds = [];
	
			$('#tblPostReceptionDetail > tbody > tr').each(function() {
// 				if(($(this).find('td:nth-child(4)').html() == '') || ($(this).find('td:nth-child(4)').html() == undefined)) {
					receptionIds.push($(this).find('td:nth-child(2)').html());
// 				} else {
// 					receptionIds;
// 				}
			});
			
			var rowRef = $('#tblPostReceptionDetail').children('tbody').children('tr').length;
			console.log(rowRef);
			if(rowRef == 0) {
				swal("Informasi", "Nomor Permohonan pada tabel detail tidak boleh kosong", "info");
			} else {
				var data = {
					appid: appid,
					law: law,
					bankCode: bankCode,
	                applicationDate: applicationDate, 
	                paymentDate: paymentDate, 
	                mFileSequence: mFileSequence,
	                mFileType: mFileType,
	                mFileTypeDetail: mFileTypeDetail,
	                totalClass: totalClass,
	                totalPayment: totalPayment,
	                mLanguage: mLanguage,
	                receptionIds: receptionIds,
	                applicantNotes: nomorReferensi
	            };
	            $.ajax({
	                type: 'POST',
	                contentType: "application/json",
	                url: /*[[@{/layanan/save-madrid-oo-form-general}]]*/'',
	                data: JSON.stringify(data),
	                dataType: 'json',
		            beforeSend:function(){
			            showLoading();
		            },
		            complete:function(){
			            hideLoading();
		            },
	                success: function (data) {
	                    if (isEdit) {
	                        window.location.replace(redirect);
	                    }else if (data == "usedBilling"){
	                        swal("Informasi", "Kode Billing " + $('#codeBilling').val() + " Sudah Terpakai !!", "info");
	                    } else if (data == "errorValid") {
	                        swal("Informasi", "Tipe Permohonan: Merek Dagang & Jasa hanya berlaku jika jumlah kelas lebih dari satu. Jumlah kelas yang Anda bayarkan adalah " + $('#totalClass').val() + " kelas.", "info");
	                    } else{
	                    	$("#btnCheckBilling").prop('disabled', true);
	                    	$("#codeBilling").prop('disabled', true);
	                    	//$("#mFileType").prop('disabled', true);
	                    	$("#form8NoPermohonan").text(data);
	                    	$("#form8eFilingNo").text(data);
	                    	$("#form8KodeBilling").text($('#codeBilling').val());
	                    	$('#appNoGeneral').val(data);
	                    	$('#form8AsalPermohonan').text($('#mFileseq option:selected').text());
	                    	$('#form8TipePermohonan').text($('#mFileType option:selected').text());
	                    	$('#form8JenisPermohonan').text($('#mFileTypeDetail option:selected').text());
	                    	$('#form8TanggalPengajuan').text($('#tglPengajuan').val());
	                    	$('#form8TanggalPembayarann').text($('#tglPembayaran').val());
	                    	$('#form8JumlahPembayaran').text($('#totalPaymentTemp').val());
	                    	<!--$('#form8DasarHukum').text($('#mLaw option:selected').text());-->
	                    	$('#form8Language1').text($('#mLanguage').val());
							
							if (txTmGeneral == null) {
								$('#cetakDraft').html('<a class="btn btn-info" href="layanan/cetak-madrid-oo-draft/?no='+data+'">Cetak Draft Tanda Terima</a>');
							}
	                    	
	                    	 //disini
	                    	
	                    	setTimeout(function() {
	                    		$("#pemohon").trigger("click");
	                	   	}, 500);
	                    }
	                },
		            error: function (xhr, status) {
			            swal("Error", "Terjadi kesalahan pada aplikasi. Silakan muat ulang halaman ini.", "error");
		            }
	            });
			}
        }

        function doDelete1(receptionIds) {
        	var appid = $("#form8NoPermohonan").text();
            var law =  $('#mLaw').val();
            var bankCode = $('#codeBilling').val();
            var applicationDate = $('#tglPengajuan').val();
            var paymentDate = $('#tglPembayaran').val();
			var mFileSequence = { id: $('#mFileseq').val() };
			var mFileType = { id: $('#mFileType').val() };
			var mFileTypeDetail = { id: $('#mFileTypeDetail').val() };
			var totalClass = $ ('#totalClass').val()
			var totalPayment = $ ('#totalPaymfent').val()
			var mLanguage = $('#mLanguage').val() ;
			var nomorReferensi = $('#nomorReferensi').val() ;

			var rowRef = $('#tblPostReceptionDetail').children('tbody').children('tr').length;
			console.log(rowRef);
			if(rowRef == 0) {
				swal("Informasi", "Nomor Permohonan pada tabel detail tidak boleh kosong", "info");
			} else {
				var data = {
					appid: appid,
					law: law,
					bankCode: bankCode,
	                applicationDate: applicationDate,
	                paymentDate: paymentDate,
	                mFileSequence: mFileSequence,
	                mFileType: mFileType,
	                mFileTypeDetail: mFileTypeDetail,
	                totalClass: totalClass,
	                totalPayment: totalPayment,
	                mLanguage: mLanguage,
	                receptionIds: receptionIds,
	                applicantNotes: nomorReferensi
	            };
	            $.ajax({
	                type: 'POST',
	                contentType: "application/json",
	                url: /*[[@{/layanan/delete-madrid-oo-form-general}]]*/'',
	                data: JSON.stringify(data),
	                dataType: 'json',
		            beforeSend:function(){
			            showLoading();
		            },
		            complete:function(){
			            hideLoading();
		            },
	                success: function (data) {

	                },
		            error: function (xhr, status) {
			            swal("Error", "Terjadi kesalahan pada aplikasi. Silakan muat ulang halaman ini.", "error");
		            }
	            });
			}
        }
        /*]]>*/
    </script>
</div>
</html>