<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragment/head :: head"></head>
<body th:inline="text">
<div class="my-wrapper-body bghome panel-container">
    <p th:replace="fragment/header :: navbar"/>
    <div id="mySideBar" class="panel-left">
		<span id="position"></span>
		<p th:replace="fragment/sidebar :: left"/>
	</div>
	<div id="myDragBar" class="splitter"></div>
	<div id="myMain" class="panel-right">

    <div class="my-wrapper" id="my-wrapper">
        <div class="my-wrapper--inner">

            <div class="wrapper-content" id="permohonan-baru">
                <div class="content--top border--bottom padding-content--left-right">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="content--title text--bold">
                                <i class="fas fa-edit"></i> Capture Data Permohonan - <span
                                    id="appNo" th:text="${dataLoketPenerimaan.applicationNo}"></span>
                            </h3>
                            <input type="hidden" id="_appNo" th:value="${dataLoketPenerimaan.applicationNo}"/>
                            <small class="sub-header">Permohonan Merek / <a th:href="@{/layanan/list-data-permohonan}">Permohonan</a>
                                / Edit
                            </small>
                            <small style="float:right;margin-left:13px"><a th:href="@{/layanan/list-data-permohonan}"><i class="fa fa-arrow-left"></i> Kembali</a></small>
                        </div>
                    </div>
                </div>

                <div class="permohonan-baru--step">
                    <ul class="display--flex" style="overflow-x: auto;flex-wrap: nowrap;padding-bottom: 20px">
                        <!-- ##############################################
                       Tambahkan class="yet" untuk data yang telah diedit dan disimpan pada <li>
                        ################################################## -->
                        <li js-direction="step-form" class="current" js-id="1" id="general">
                            <div class="iconn text-center text-bold">1</div>
                            <div class="textt text-bold text-center">
                                General
                            </div>
                        </li>
                        <li js-direction="step-form" js-id="2" id="pemohon">
                            <div class="iconn text-center text-bold">2</div>
                            <div class="textt text-bold text-center">
                                Pemohon
                            </div>
                        </li>
                        <li js-direction="step-form" js-id="3" id="kuasa">
                            <div class="iconn text-center text-bold">3</div>
                            <div class="textt text-bold text-center">
                                Kuasa
                            </div>
                        </li>
                        <li js-direction="step-form" js-id="4" id="prior">
                            <div class="iconn text-center text-bold">4</div>
                            <div class="textt text-bold text-center">
                                Prioritas
                            </div>
                        </li>
                        <li js-direction="step-form" js-id="5" id="merek">
                            <div class="iconn text-center text-bold">5</div>
                            <div class="textt text-bold text-center">
                                Merek
                            </div>
                        </li>
                        <li js-direction="step-form" js-id="6" id="kelas">
                            <div class="iconn text-center text-bold">6</div>
                            <div class="textt text-bold text-center">
                                Kelas
                            </div>
                        </li>
                        <li js-direction="step-form" js-id="7" id="dokumen">
                            <div class="iconn text-center text-bold">7</div>
                            <div class="textt text-bold text-center">
                                Dokumen Lampiran
                            </div>
                        </li>
                        <li js-direction="step-form" js-id="8" id="preview">
                            <div class="iconn text-center text-bold">8</div>
                            <div class="textt text-bold text-center">
                                Resume
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="content--center padding-content--left-right">
                    <div class="wrapper--bg">
                        <div class="form-horizontal form--input">
                            <!-- form 1 -->
                            <p th:replace="/permohonan/form-1-permohonan"/>
                            <!-- form 2 -->
                            <p th:replace="/permohonan/form-2-permohonan"/>
                            <!-- form 3 -->
                            <p th:replace="/permohonan/form-3-permohonan"/>
                            <!-- form 4 -->
                            <p th:replace="/permohonan/form-4-permohonan"/>
                            <!-- form 5 -->
                            <p th:replace="/permohonan/form-5-permohonan"/>
                            <!-- form 6 -->
                            <p th:replace="/permohonan/form-6-permohonan"/>
                            <!-- form 7 -->
                            <p th:replace="/permohonan/form-7-permohonan"/>
                            <!-- form 8 -->
                            <p th:replace="/permohonan/form-8-permohonan"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div><div th:replace="fragment/js :: default"></div>
<div th:replace="fragment/js :: main"></div>
<div th:replace="fragment/js :: datepickerEndDate"></div>
<div th:replace="fragment/js :: datatables"></div>
<div th:replace="fragment/permohonan/js-form-1 :: form-1"></div>
<div th:replace="fragment/permohonan/js-form-2 :: form-2"></div>
<div th:replace="fragment/permohonan/js-form-3 :: form-3"></div>
<div th:replace="fragment/permohonan/js-form-4 :: form-4"></div>
<div th:replace="fragment/permohonan/js-form-5 :: form-5"></div>
<div th:replace="fragment/permohonan/js-form-6 :: form-6"></div>
<div th:replace="fragment/permohonan/js-form-7 :: form-7"></div>
<script type="text/javascript" language="javascript" th:inline="javascript">
    $(document).ready(function () {
        var csrf = /*[[${_csrf.token}]]*/'';
        var header = "X-CSRF-TOKEN";
        $(document).ajaxSend(function (e, xhr, options) {
            xhr.setRequestHeader(header, csrf);
        });
        
        $('#yaModal').click(function(){
            if ($('#noPermohonan').text() != '') {
                var noPermohonan = $('#noPermohonan').text();
                    $.ajax({
                        url: /*[[@{/layanan/edit-permohonan-selesai}]]*/'',
	                    beforeSend: function () {
                        	showLoading();
	                    },
	                    complete:function(){
		                	hideLoading();
	                    },
                        data: {
                            noPermohonan: noPermohonan
                        },
                        type: 'POST',
                        success: function(data){
                            var  result = JSON.parse(data);
                            if (result.key === "Error"){
                                $('#isError').css("color", "orangered");
                                $('#isError').text(result.value);
                                setTimeout(function() {
                                    $("#isError").html(null);
                                }, 10000);
                            }else if(result.key === "Success"){
                                $('#isError').css("color", "black");
                                $('#isError').text(result.value);
                                window.location = /*[[@{/layanan/list-data-permohonan}]]*/'';
                            }
                        },
                        error: function (xhr, status) {
	                        swal("Error", "Terjadi kesalahan pada aplikasi. Silakan muat ulang halaman ini.", "error");
                        }

                });
             }
        });
    });
</script>
</body>
</html>