<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragment/head :: head"></head>
<style>
    .custom-combobox-toggle {
        position: absolute;
        top: 98px;
        bottom: auto;
        height: 33px;
        margin-left: -1px;
        padding: 0;
    }

    .custom-combobox-input {
        width: 95%;
    }
</style>
<body th:inline="text">
<div class="my-wrapper-body bghome panel-container">
    <p th:replace="fragment/header :: navbar" />
    <div id="mySideBar" class="panel-left">
        <span id="position"></span>
        <p th:replace="fragment/sidebar :: left" />
    </div>
    <div id="myDragBar" class="splitter"></div>
    <div id="myMain" class="panel-right">
        <div class="my-wrapper" id="my-wrapper">
            <div class="my-wrapper--inner">
                <div class="wrapper-content">
                    <div class="content--top border--bottom padding-content--left-right">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="content--title text--bold">
                                    <i class="fas fa-laptop"></i> Proses Permohonan Merek
                                </h3>
                                <small class="sub-header">Perubahan Permohonan</small>
                            </div>
                        </div>
                    </div>
                    <div class="content--center padding-content--left-right">
                        <div class="wrapper--bg">
                            <div th:if="${errorMessage}" class="alert alert-success alert-block fade in">
                                <button data-dismiss="alert" class="close close-sm" type="button">
                                    <i class="icon-remove"></i>
                                </button>
                                <p>[[${errorMessage}]]</p>
                            </div>
                            <div class="jumbotron filterSearch">
                                <form>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Tanggal Penerimaan</label>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <input type="text" id="startDate" class="form-control datepicker" placeholder="Dari"/>
                                                    </div>
                                                    <div class="col-md-6 no-left-padding">
                                                        <input type="text" id="endDate" class="form-control datepicker" placeholder="Sampai"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Nomor Permohonan</label>
                                                <input type="text" id="applicationNo" class="form-control" placeholder="Nomor Permohonan"/>
                                            </div>
                                            <div class="form-group">
                                                <label>Merek</label>
                                                <input type="text" id="brandName" class="form-control" placeholder="Nama Merek"/>
                                            </div>
                                            <!--<div class="form-group">-->
                                                <!--<label>Asal Permohonan</label>-->
                                                <!--<select id="fileSequence" class="form-control">-->
                                                    <!--<option value="">Semua</option>-->
                                                    <!--<option th:each="mFileSequence :${fileSequenceList}" th:value="${mFileSequence.id}" th:text="${mFileSequence.desc} "/>-->
                                                <!--</select>-->
                                            <!--</div>-->
                                            <div class="form-group">
                                                <label>Username</label>
                                                <input type="text" id="createdByUserName" class="form-control" placeholder="Username"/>
                                            </div>  
                                        </div>
                                        
                                        <div class="col-md-4">
                                            <!-- <div class="form-group">
                                                <label>Nama Pemohon</label>
                                                <input type="text" id="ownerName" class="form-control" placeholder="Nama Pemohon"/>
                                            </div> -->
                                            
                                            <div class="form-group">
                                                <label>Tanggal Proses</label>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <input type="text" id="tglProsesStartDate" class="form-control datepicker" placeholder="Dari"/>
                                                    </div>
                                                    <div class="col-md-6 no-left-padding">
                                                        <input type="text" id="tglProsesEndDate" class="form-control datepicker" placeholder="Sampai"/>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            
                                            <div class="form-group">
                                                <label>Status</label><br/>
                                                <select id="mStatus" class="form-control">
                                                    <option value="">Semua</option>
                                                    <option th:each="mStatus : ${statusList}" th:value="${mStatus.id}" th:text="${mStatus.name}"></option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>Kelas</label>
                                                <select id="mClass" class="form-control">
                                                    <option value="">Semua</option>
                                                    <option th:each="mClass : ${classList}" th:value="${mClass.id}" th:text="${mClass.no}"></option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>Tipe Permohonan</label>
                                                <select id="mfileType" class="form-control">
                                                    <option value="">Semua</option>
                                                    <option th:each="mFileType :${fileTypeList}" th:value="${mFileType.id}" th:text="${mFileType.desc}"/>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Nomor Registrasi</label>
                                                <input type="text" id="registrationNo" class="form-control" placeholder="Nomor Registrasi"/>
                                            </div>
                                            <div class="form-group">
                                                <label>Aksi</label><br/>
                                                <select id="mAction" class="form-control">
                                                    <option value="">Semua</option>
                                                    <option th:each="mAction : ${actionList}" th:value="${mAction.id}" th:text="${mAction.name}"></option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>Tanggal Prioritas</label>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <input type="text" id="sbPriorDateList" class="form-control datepicker" placeholder="Tanggal Prioritas"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--<div class="form-group">-->
                                                <!--<label>Nama Kuasa</label>-->
                                                <!--<input type="text" id="txReprsName" class="form-control" placeholder="Nama Kuasa"/>-->
                                            <!--</div>-->
                                            <div class="form-group">
                                                <label>Jenis Permohonan</label>
                                                <select id="mFileTypeDetail" class="form-control">
                                                    <option value="">Semua</option>
                                                    <option th:each="mFileTypeDetail : ${fileTypeDetailList}" th:value="${mFileTypeDetail.id}" th:text="${mFileTypeDetail.desc}"></option>
                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button type="submit" class="btn btn-primary" id="btnCari">
                                                <i class="fas fa-search"></i>
                                                Filter
                                            </button>
                                            <button type="submit" class="btn btn-info" onClick="window.location.reload()" style="margin-left:15px;">
                                                <i class="fas fa-sync-alt"></i>
                                                Refresh
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="table-container">
                                <table id="table" class="table table-striped table-bordered table-responsive">
                                    <thead>
                                    <tr>
                                        <th>
                                            <input name="select_all" value="1" id="select-all-class" type="checkbox"/>
                                        </th>
                                        <th>Nomor Permohonan</th>
                                        <th>Tanggal Penerimaan</th>
                                        <th>Label Merek</th>
                                        <th style="width: 150px;">Merek</th>
                                        <th>Kelas</th>
                                        <th style="width: 100px;">Nama Pemohon</th>
                                        <th style="width: 200px;">Nama Kuasa</th>
                                        <th style="width: 200px;">Status</th>
                                        <th style="width: 200px;">Aksi</th>
                                        <th>Tanggal Prioritas</th>
                                        <th>Nomor Registrasi</th>
                                        <th>Jenis Permohonan</th>
                                        <th></th>
                                        <th>Username</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class="jumbotron filterSearch" style="border:black solid 1px;">
                             
                                <div class="row"> 
                                  <div class="col-lg-offset-10"> 
                                        <a class="btn btn-success" href="javascript:void(0)" id="exportBtn"  >
                                        <i class="fas fa-file-excel"></i> Export to Excel</a>  
                                  </div> 
                                </div> 
                                  
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group"> 
                                            <label>Nomor Permohonan yang Ditandai:</label>
                                            <div id="selectedPermohonan">Tidak ada data yang ditandai</div>
                                        </div>
                                    </div>
                                </div><br/>
                                 <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Jumlah Permohonan yang Ditandai:</label>
                                            <div id="jumlahSelectedPermohonan">Tidak ada data yang ditandai</div>
                                        </div>
                                    </div>
                                </div><br/>

                                <div class="row">
                                    <div class="col-md-4" th:if="${#authentication.getPrincipal().hasAccessMenu('T-PNDHUSER')}">
                                        <div class="form-group">
                                            <label>Username Baru</label>
                                            <input type="text" id="newUsername" class="form-control" placeholder="Username Baru" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button class="btn btn-primary" th:if="${#authentication.getPrincipal().hasAccessMenu('T-PNDHUSER')}" id="btnPindah">
                                            <i class="fas fa-search"></i> Pindah Username
                                        </button>
                                        <button class="btn btn-success" th:if="${#authentication.getPrincipal().hasAccessMenu('T-UPSTSMLT')}" id="btnUpdateStatus">
                                            <i class="fas fa-plus"></i> Update Status
                                        </button>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><div th:replace="fragment/js :: default"></div> <div th:replace="fragment/js :: main"></div> <div th:replace="fragment/js :: datatables"></div>
<div th:replace="fragment/js :: datepicker"></div>
<script type="text/javascript" language="javascript" th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function() {
        var error =/*[[${error}]]*/'';
        console.log(error+"?");
        if(error!=null){
            swal("Informasi", error, "info");
        }

        var csrf = /*[[${_csrf.token}]]*/ '';

        $("#mStatus").combobox();
        $("#mAction").combobox();

        $('form').find(".custom-combobox-input").each(function(ev) {
            if (!$(this).val()) {
                $(this).attr("placeholder", "Semua");
            }
        });

        var table = $('#table');
        var searchByArr = [];
        var keywordArr = [];
        var listId = [];
        var cari=false;

        searchByArr.push('startDate');
        keywordArr.push($('#startDate').val());
        searchByArr.push('endDate');
        keywordArr.push($('#endDate').val()); 
         
        searchByArr.push('tglProsesStartDate');
        keywordArr.push($('#tglProsesStartDate').val());
        searchByArr.push('tglProsesEndDate');
        keywordArr.push($('#tglProsesEndDate').val());
        
        searchByArr.push('applicationNo');
        keywordArr.push($('#applicationNo').val());
        
        searchByArr.push('txTmOwnerName');
        keywordArr.push($('#ownerName').val());
        
        searchByArr.push('txTmBrand.name');
        keywordArr.push($('#brandName').val());
        
        searchByArr.push('mStatus.id');
        keywordArr.push($('#mStatus').val());
        
        searchByArr.push('mAction.id');
        keywordArr.push($('#mAction').val());
        
        searchByArr.push('txTmClassList');
        keywordArr.push($('#mClass').val());
        
        searchByArr.push('txReception.mFileSequence.id');
        keywordArr.push($('#fileSequence').val());
        
        searchByArr.push('txReception.mFileType.id');
        keywordArr.push($('#mfileType').val());
        
        searchByArr.push('txRegistration.no');
        keywordArr.push($('#registrationNo').val());
        
        searchByArr.push('priorDate');
        keywordArr.push($('#sbPriorDateList').val());
        
        searchByArr.push('txReprsName');
        keywordArr.push($('#txReprsName').val());
        
        searchByArr.push('mFileTypeDetail.id');
        keywordArr.push($('#mFileTypeDetail').val());
        
        searchByArr.push('createdBy');
        keywordArr.push($('#createdByUserName').val());

        table.data('searchByArr', searchByArr);
        table.data('keywordArr', keywordArr);
        table.data('orderBy', 'filingDate');
        table.data('orderType', 'DESC');

        $('.datepicker').datepicker({
            format: 'dd/mm/yyyy',
            autoclose: true,
            todayBtn: 'linked',
            todayHighlight: true,
            useCurrent: false
        });

        $('.datepickerPenerimaan').datepicker({
            format: 'dd-mm-yyyy',
            autoclose: true,
            todayBtn: 'linked',
            todayHighlight: true,
            useCurrent: false
        });

        $("#startDate").on("dp.change", function(e) {
            $('#endDate').data("DatePicker").minDate(e.date);
        });
        $("#endDate").on("dp.change", function(e) {
            $('#startDate').data("DatePicker").maxDate(e.date);
        });
          
        $("#tglProsesStartDate").on("dp.change", function(e) {
            $('#tglProsesEndDate').data("DatePicker").minDate(e.date);
        });
        $("#tglProsesEndDate").on("dp.change", function(e) {
            $('#tglProsesStartDate').data("DatePicker").maxDate(e.date);
        }); 

        /* Load DataTable */
        var dataTable = table.DataTable({
            ajax: {
                data: function(d) {
                    d.searchByArr = table.data('searchByArr');
                    d.keywordArr = table.data('keywordArr');
                    d.orderBy = table.data('orderBy');
                    d.orderType = table.data('orderType');
                    d._csrf = csrf;
                },
                type: 'POST',
                url: /*[[@{/layanan/cari-proses-permohonan-monitor}]]*/ ''
            },
            columnDefs: [
                {
                    'targets': 0,
                    'searchable': false,
                    'orderable': false,
                    'className': 'dt-body-center',
                    'render': function(data, type, full, meta) {
                        return '<input class="check-class" type="checkbox" data-idx="' + data + '" />';
                    }
                },
                { targets: [0, 3, 5, -1], orderable: false},
				{ targets: [3], data:"img",
					render : function (url, type, data) {
						return '<img height=75 width=75 src="'+data[3]+'" />'

					}
				},
                {
                    'targets': [ 10, 11, 13],
                    'visible': false,
                }
                ],
            select: {
                style:    'os',
                selector: 'td:first-child'
            },
            ordering: true,
            order: [[2, 'desc']],
            initComplete: function(settings, json) {
            	 $('#table_length').parent().next().addClass("text-right");
                 $('#table_length').parent().next().append(
                     '<a class="btn btn-success" href="javascript:void(0)" id="exportToExcel"><i class="fas fa-file-excel"></i> Export to Excel</a>');
                 $('#table_length').parent().parent().addClass('margin-bottom-8px');


                 $('.dt-buttons').addClass("dataTables_filter margin-bottom-8px").removeClass("dt-buttons");
            },
            language: {
                url: /*[[@{/js/i18n/datatables.in.json}]]*/ ''
            },
            lengthMenu: [
                [10, 50, 100, 250],
                [10, 50, 100, 250]
            ],
            pageLength: 10,
            processing: true,
            searching: false,
            serverSide: true
        });

        dataTable.on('error.dt', function(e, settings, techNote, message) {
            swal("Error", "Terjadi kesalahan pada aplikasi. Silakan muat ulang halaman ini.", "error");
        });

        dataTable.on('draw.dt', function ( e, settings, json, xhr ) {
            refreshTableSelection()
            refreshSelectedPermohonan()
        });

        function refreshTableSelection(){
            //reselect the selected checkbox before from listId
            for (rowID in $('#table tr')){
                id = $('#table tr').eq(rowID).find("td").eq(1).text();
                if ( listId.indexOf(id)!=-1 ) {
                    $('#table tr').eq(rowID).find("td").eq(0).find("input").eq(0).prop( "checked", true );
                }else{
                    $('#table tr').eq(rowID).find("td").eq(0).find("input").eq(0).prop( "checked", false );
                }
            }
        }

        // Handle click on "Select all" control
        $('#select-all-class').on('click', function() {
            // Get all rows with search applied
            var rows = dataTable.rows({
                page: 'current'
            }).nodes();

            if (this.checked) {
                $(rows).addClass('chkClass');
                for(rowID in $('#table tr')) {
                    selectionID = $('#table tr').eq(rowID).find("td").eq(1).text();
                    if(listId.indexOf(selectionID)==-1 && selectionID!="") {
                        listId.push(selectionID);
                    }
                }
            }
            else {
                $(rows).removeClass('chkClass');
                for(rowID in $('#table tr')) {
                    selectionID = $('#table tr').eq(rowID).find("td").eq(1).text();
                    if(listId.indexOf(selectionID)!=-1) {
                        listId.splice(listId.indexOf(selectionID), 1);
                    }
                }
            }
            refreshSelectedPermohonan()
            // Check/uncheck checkboxes for all rows in the table
            $('input[type="checkbox"]', rows).prop('checked', this.checked);
            $('input[type="checkbox"]', rows).change();
        });

        // Handle click on checkbox to set state of "Select all" control
        $('#table tbody').on('change', 'input[type="checkbox"]', function() {
            selectionID = $(this).parent().parent().find("td").eq(1).text();
            if (this.checked) {
                $(this).parent().parent().addClass('chkClass');
                if(listId.indexOf(selectionID)==-1) {
                    listId.push(selectionID)
                }
            }else {
                $(this).parent().parent().removeClass('chkClass');
                if(listId.indexOf(selectionID)!=-1) {
                    listId.splice(listId.indexOf(selectionID), 1);
                }
            }
            // If checkbox is not checked
            if (!this.checked) {
                // If "Select all" control is checked
                if ($('#select-all-class').get(0).checked) {
                    $('#select-all-class').prop("checked", false);
                }
            }
            refreshSelectedPermohonan()
        });

        function refreshSelectedPermohonan(){
            var selectionHtml = "";
            var jumlahSelectionHtml="";
            for(i in listId){
                if(listId[i]!="") {
                    selectionHtml += `<div style='float: left;width: 15%;padding: 10px;background: beige;border-radius: 50px;'><label>` + listId[i] + `</label>` +
                        `<button id='close' data='` + listId[i] + `'` +
                        `style='float:right;background:none;color:#F00;border:none;'>x</button></div>`;
                }
              jumlahSelectionHtml = ++jumlahSelectionHtml;
            } 
            
            if(listId.length==0){
                selectionHtml = "Tidak ada data yang ditandai!"
                jumlahSelectionHtml="0";
            }

            table.data('listId', listId);
            
            $("#jumlahSelectedPermohonan").html(jumlahSelectionHtml);
            $("#selectedPermohonan").html(selectionHtml);
        }

        function removeSelectedPermohonan(id){
            listId.splice(listId.indexOf(id),1);
            refreshTableSelection();
            refreshSelectedPermohonan();
        }

        $(document).on('click', '#close', function () {
            removeSelectedPermohonan($(this).attr('data'));
        });

        /* Update Status */
        $("#btnUpdateStatus").click(function(event){
            const urlTambahMonitor = /*[[@{/layanan/tambah-monitor}]]*/''
            if(listId.length==0){
                swal("Error", "Permohonan tidak boleh kosong!", "error");
                return
            }
            window.location.href = `${urlTambahMonitor}?no=${listId.join(",")}`;
        });

        /* Pindah Permohonan */
        $("#btnPindah").click(function(event) {
            event.preventDefault();
            var usernameBaru = $("#newUsername").val();
            if(usernameBaru.length == 0){
                swal("Error", "Username tujuan tidak boleh kosong!", "error");
                return
            }else{
                $.ajax({
                    url: "verify-email",
                    method: "POST",
                    data: {"email":usernameBaru},
                    context: document.body
                }).done(function(data) {
                    if(data==200){
                        swal("Konfirmasi", "Apakah Anda yakin untuk memindahkan permohonan-permohonan dibawah ini ke username:"+usernameBaru+"?\n"+ listId.join(","), "warning", {
                            buttons: {
                                cancel: 'Tidak',
                                confirm: 'Ya'
                            }
                        }).then((value) => {
                            if (value) {
                                showLoading();
                                $.ajax({
                                    url: "layanan/pindah-permohonan-post",
                                    method: "POST",
                                    data: {"listId":listId.join(","), "userBaru":usernameBaru},
                                    context: document.body
                                }).done(function(data, textStatus, xhr) {
                                    if(textStatus!="success"){
                                        swal("Error", "Terjadi kesalahan pada pemindahan permohonan, silahkan coba lagi!", "error");
                                    }else {
                                        window.location.href = "layanan/proses-permohonan";
                                    }
                                    hideLoading();
                                });
                            }
                        });
                    }else{
                        swal("Error", "Username:\""+usernameBaru+"\" tidak ditemukan!", "error");
                    }
                });
            }
        });

        /* Search */
        $("#btnCari").click(function(event) {
        	 
            event.preventDefault();
            var searchByArr = [];
            var keywordArr = [];

            searchByArr.push('startDate');
            keywordArr.push($('#startDate').val());
            
            searchByArr.push('endDate');
            keywordArr.push($('#endDate').val());
             
            searchByArr.push('tglProsesStartDate');
            keywordArr.push($('#tglProsesStartDate').val());
            
            searchByArr.push('tglProsesEndDate');
            keywordArr.push($('#tglProsesEndDate').val());
            
            searchByArr.push('applicationNo');
            keywordArr.push($('#applicationNo').val());
            
            searchByArr.push('txTmOwnerName');
            keywordArr.push($('#ownerName').val());
            
            searchByArr.push('txTmBrand.name');
            keywordArr.push($('#brandName').val());
            
            searchByArr.push('mStatus.id');
            keywordArr.push($('#mStatus').val());
            
            searchByArr.push('mAction.id');
            keywordArr.push($('#mAction').val());
            
            searchByArr.push('txTmClassList');
            keywordArr.push($('#mClass').val());
            
            searchByArr.push('txReception.mFileSequence.id');
            keywordArr.push($('#fileSequence').val());
            
            searchByArr.push('txReception.mFileType.id');
            keywordArr.push($('#mfileType').val());
            
            searchByArr.push('txRegistration.no');
            keywordArr.push($('#registrationNo').val());
            
            searchByArr.push('priorDate');
            keywordArr.push($('#sbPriorDateList').val());
            
            searchByArr.push('txReprsName');
            keywordArr.push($('#txReprsName').val());
            
            searchByArr.push('mFileTypeDetail.id');
            keywordArr.push($('#mFileTypeDetail').val());
            
            searchByArr.push('createdBy');
            keywordArr.push($('#createdByUserName').val());

            table.data('searchByArr', searchByArr);
            table.data('keywordArr', keywordArr);
            dataTable.ajax.reload();
            
            keywordArr.forEach(function(item) {
                if(item) {
                    cari = true;
                }
            }) 
            
        });
        
        
        
        $('body').on('click','#exportToExcel',function(e){
            if(!cari) {
                swal("Error", "Tidak dapat melakukan export. Harap lakukan filter data terlebih dahulu.", "warning");
                e.preventDefault();
                return false;
            } 
             else if($('#table').DataTable().page.info().recordsDisplay > 100000) {
                swal("Error", "Maksimal hanya dapat export sampai dengan 100000 permohonan.", "warning");
                e.preventDefault();
            }  
            else {
                var urlExport = /*[[@{/layanan/cetak-proses-permohonan}]]*/'';
                var searchByArr = table.data('searchByArr');
                var keywordArr = table.data('keywordArr');
                var order = dataTable.order();
                var orderBy = (order[0][0] === undefined ? 1: order[0][0]);
                var orderType = (order[0][1] === undefined ? 'asc': order[0][1]);
                urlExport += "?searchByArr=" + searchByArr;
                urlExport += "&keywordArr=" + encodeURI(keywordArr);
                urlExport += "&orderBy=" + orderBy;
                urlExport += "&orderType=" + orderType;
                window.open(urlExport, '_blank');
            }
        });

 
 
        
        
        $('body').on('click','#exportBtn',function(e){
            var selectedIdArr = table.data('listId');
            console.log(selectedIdArr);
            
            if(listId.length==0){
            	swal("Error", "Tidak ada data yang dipilih.", "warning");
                e.preventDefault();
            	
            }else {
            	 var urlExport = /*[[@{/layanan/cetak-pilih-proses-permohonan}]]*/'';
                 urlExport += "?selectedIdArr=" + selectedIdArr; 
                 window.open(urlExport, '_blank');
            	
            }
            
        });
 
        
        
    });
    /*]]>*/
</script>
</body>

</html>